<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <phone-search selected-order="{{phoneMainVm.phoneListOrderBy}}"
        on-search-change="phoneMainVm.onPhoneSearchChange(search)"
        on-select-change="phoneMainVm.onPhoneSelectChange(sort)">
      </phone-search>
    </div>
    <div class="col-md-10">
      <phone-list phone-list-url="/json/phones.json"
        phone-list-filter-query="phoneMainVm.phoneMainFilterQuery"
        phone-list-order-by="phoneMainVm.phoneListOrderBy"
        on-img-click="phoneMainVm.onPhoneListImgClick(id)"
        on-name-click="phoneMainVm.onPhoneListNameClick(id)">
      </phone-list>
    </div>
  </div>
</div>
